
    *{
    margin:0;
    padding:0;
    
    
    
}
.header{
    width:100%;
    min-height:80vh;
    background-position: center;
    
    background-size:cover;
    position: relative;
    font-family:'poppins',sans-serif;
    
    background-image: url(./bentota.jpeg);
    filter:brightness(100%);
    filter:blur()}
    
    nav{
        display:flex;
        padding:16px 30px;
    }
    nav img{
        width:120px;
        font-size:30px;
    }
    .nav-links{
        flex:1;
        text-align: right;
    
    }
    .nav-links ul li{
        list-style: none;
        display:inline-block;
        padding: 15px 13px;
        position:relative;
        
    }
    .nav-links ul li a{
        color:#fff;
        text-decoration: none;
        font-size: 11px;
        text-transform: uppercase;
    }
    .nav-links ul li::after{
        content:'';
        width:0%;
        height:2px;
        background:lightblue;
        display:block;
        margin:block;
        transition:0.5s;
    
    }
    .nav-links ul li:hover::after{
        width:100%;
    
    }
    .nav-links ul li ul{
       display:none;
       position:fixed;
       background-color:lightskyblue;
       padding:15px 13px;
    
    }
    .nav-links ul li ul li{
        float:none;
    }
    .nav-links ul li:hover ul{
        display:block;
    }
    
    
    
    .text-box{
        width:90%;
        color:#fff;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .text-box h1{
        font-size: 50px;
        font-family: 'Cinzel', serif;
        
    
        
    
    }
    .text-box p{
        margin:10px 0 40px;
        font-size: 14px;
    }
    .row1 h2{
        text-align:center ;
        
        
        margin-top: 100px;
        font-family: 'Cinzel', serif;
        font-weight: 800px;
        font-style: bold;
        margin-right:5px;
        margin-top: 70px;
        
        }
        .row1 p{
            font-size: 15px;
               
           
               
           
            text-align: center;
            margin-left:200px;
            margin-right: 200px;
               
               
           display: inline-block;
            margin-top: 50px;
           font-family:'poppins',sans-serif;
           text-align: justify;
            }

         .slider{
                width:600px;
                height:350px;
                background:url(./animation9.jpeg) ;
                animation:slide 7s infinite;
                margin-left: 400px;
                margin-top: 100px;
        
            }
            @keyframes slide{
                20%%{
                    background:url(./animation9.jpeg);
                }
                40%{
                    background: url(./animation10.jpeg);
                }
                60%{
                    background: url(./animation11.jpeg);
                }
                80%{
                    background: url(./animation12.jpeg);
                }
            }

            table,td,th{
                margin-left:370px ;
                margin-right: 100px;
                border:5px solid lemonchiffon;
                border-width: 10px;
                border-collapse: collapse;
                height: 10px;
                padding:12px 55px;
                
                
            }

            table{
                margin-top: 150px;
                margin-bottom: 80px;
                
                
                
            }
            tr{
                line-height: 20px;
            }
            iframe{
                width:150%;
                height:400px;
                margin-left: 12px;
                margin-top: 80px;
                margin-right: 100px;
            }
            .section2{
                display:grid;
                grid-template-columns: repeat(2,2fr);
               grid-gap:1.5rem;
            }

            .row3 h3{
                margin-top:30px;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-weight:1200px;
                font-style: bold;
                margin-right:100px;
                margin-left: 80px;
                font-size: 20px;
                
                }

             .section4{
                    margin-left:150px;
                    border:12px solid black;
                    border-width:8px;
                    align-content: center;
                    padding:50px 200px;
                    display:inline-block;
                    margin-top: 100px;
                    background-color: lightgray;
                    margin-right: 280px;
                    border-radius: 30px;
                   
                        
                       
                   }
                   .row3 p{
                    font-size:15px ;
                    font-family: 'Times New Roman', Times, serif;
                }




    .footer{
        margin-top:100px;
        width:80%;
        padding:80px 15%;
        background-color: black;
        color:white;
        display:flex;
    }
    .footer div {
        text-align: center;
        margin-right: 100px;
    
    }
    
    .col7 a{
        display:block;
        text-decoration: none;
        color:#fff;
        margin-bottom: 10px;
        font-size:12px ;
        font-family:'poppins',sans-serif;
        margin-top: 12px;
    
    }
    .col8 a{
        display:block;
        text-decoration: none;
        color:#fff;
        margin-bottom: 10px;
        font-size: 12px;
        font-family:'poppins',sans-serif;
        margin-top: 10px;
    
    }
    
    .col9 a{
        display:block;
        text-decoration: none;
        color:#fff;
        margin-bottom: 10px;
        font-size:12px ;
        font-family:'poppins',sans-serif;
        margin-top:5px;
    
    }
    .col9 h3{
        font-size: 18px;
        font-weight: 300;
        margin-bottom:15px ;
        letter-spacing: 1px;
        font-family:'poppins',sans-serif ;
    }
    
    
    
    .col10{
        font-size:12px ;
        font-family:'poppins',sans-serif;
    flex-direction: column;
    }
    
    .col10 h3{
        font-size:18px;
        font-weight:300;
        margin-bottom: 30px;
        letter-spacing: 1px;
        margin-top: 2px;
    
        
    }
    .col10 p{
        
        padding:10px 5px;
    }
